<div th:fragment="left" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="col-md-2">
        <img alt="128x128" src="/img/logo.png" height="128px"
             width="128px"/>
        <ul class="nav nav-list">
            <li class="nav-header">
                概述
            </li>
            <li class="active">
                <a href="/">首页</a>
            </li>
            <li>
                <a href="#">集群</a>
            </li>
            <li>
                <a href="#">日志</a>
            </li>
            <li>
                <a href="/analyze">分析</a>
            </li>
            <li class="nav-header">
                索引
            </li>
            <li>
                <a href="#">分析</a>
            </li>
            <li>
                <a href="/webpages/search">搜索</a>
            </li>
            <li>
                <a href="/webpages/operate">添加/更新数据</a>
            </li>
            <li>
                <a href="#">爬虫数据</a>
            </li>
            <li class="divider">
            </li>
            <li>
                <a href="#">帮助</a>
            </li>
        </ul>
    </div>
</div>